<h1>異常対処登録</h1>
<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :place, "異常発生工程" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :title, "異常項目" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "異常内容" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :fix_detail, "異常処置内容" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
