<!DOCTYPE html>
<html>
  <head>
    <title>FactoryAbnormalSupported</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= link_to "異常発生一覧", posts_path %> <%= link_to "異常対処登録", new_post_path %>
    <hr>
    <%= yield %>
  </body>
</html>
